* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}

.menu {
  width: 100%;
  background-color: #333;
  color: white;
  position: relative;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #444;
}

.brand {
  font-size: 1.5rem;
}

.profile-icon {
  width: 35px;
  height: 35px;
}

.toggle-button {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.menu-options {
  display: none;
  padding: 16px;
}

.menu-options a {
  color: white;
  text-decoration: none;
  padding: 8px;
}

.menu-options a:hover {
  background-color: #555;
}

.collapsed {
  max-height: 60px;
}

.menu.expanded .menu-options {
  width: 100%;

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 100%;
  left: 0;

  background-color: #333;
}

@media (min-width: 768px) {
  .menu-options, .menu.expanded .menu-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    background-color: initial;
    position: initial;

    padding: 0px;
  }

  .toggle-button{
    display: none;
  }

}